html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html body {
  height: 100%;
  position: relative;
  margin: 0;
  font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #555;
  background: #f5f5f5;
}

html body .app {
  position: relative;
  min-height: 100%;
}

html body .app,
html body .footer-inner {
  margin: 0 auto;
  width: 767px;
  background-color: #fff;
}

@media (min-width: 1200px) {
  html body .app,
  html body .footer-inner {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  html body {
    font-size: 16px;
  }
}

